<%- include("partials/header.ejs")  %>

<div class="container text-center col-lg-4"></div>
    <h1 class="h1">Dibrugarh University</h1>
  </div>
  
  <div class=" container col-lg-4 col-mid-6 col-sm-6 col-9 ">
    
    <div class="row bg-info">
      <div class="col-lg-6 col-mid-6 col-sm-6 col-6 text-center p-2 border">
        <a class="text-decoration-none text-dark " href="/bca">BCA</a>
      </div>
      <div class="col-lg-6 col-mid-6 col-sm-6 col-6 text-center p-2 border">
        <a class="text-decoration-none text-dark"  href="/mca">MCA</a>
      </div>
    </div>

    <div class="row bg-info">
      <div class="col-lg-6 col-mid-6 col-sm-6 col-6 text-center p-2 border">
        <a class="text-decoration-none text-dark" href="">BBA</a>
      </div>
      <div class="col-lg-6 col-mid-6 col-sm-6 col-6 text-center p-2 border">
        <a class="text-decoration-none text-dark" href="">MBA</a>
      </div>
    </div>

    <div class="row bg-info">
      <div class="col-lg-6 col-mid-6 col-sm-6 col-6 text-center p-2 border">
        <a class="text-decoration-none text-dark" href="">BALLB</a>
      </div>
      <div class="col-lg-6 col-mid-6 col-sm-6 col-6 text-center p-2 border">
        <a class="text-decoration-none text-dark" href="">LLM</a>
      </div>
    </div>

    <div class="row bg-info">
      <div class="col-lg-6 col-mid-6 col-sm-6 col-6 text-center p-2 border">
        <a class="text-decoration-none text-dark" href="">BPHARM</a>
      </div>
      <div class="col-lg-6 col-mid-6 col-sm-6 col-6 text-center p-2 border">
        <a class="text-decoration-none text-dark" href="">MPHARM</a>
      </div>
    </div>

    <div class="row bg-info">
      <div class="col-lg-6 col-mid-6 col-sm-6 col-6 p-2 text-center border">
        <a class="text-decoration-none text-dark" href="">BTECH</a>
      </div>
      <div class="col-lg-6 col-mid-6 col-sm-6 col-6 p-2 text-center border">
        <a class="text-decoration-none text-dark"  href="">MTECH</a>
      </div>
    </div>

    <div class="row bg-info">
      <div class="col-lg-6 col-mid-6 col-sm-6 col-6 p-2 text-center border">
        <a class="text-decoration-none text-dark" href="">BSC</a>
      </div>
      <div class="col-lg-6 col-mid-6 col-sm-6 col-6 p-2 text-center border">
        <a class="text-decoration-none text-dark" href="">MSC</a>
      </div>
    </div>

    <div class="row bg-info">
      <div class="col-lg-6 col-mid-6 col-sm-6 col-6 p-2 text-center border">
        <a class="text-decoration-none text-dark" href="./course/ba.html">BA</a>
      </div>
      <div class="col-lg-6 col-mid-6 col-sm-6 col-6 p-2 text-center border">
        <a class="text-decoration-none text-dark" href="./course/ma.html">MA</a>
      </div>
    </div>

    <div class="row bg-info">
      <div class="col-lg-6 col-mid-6 col-sm-6 col-6 p-2 text-center border">
        <a class="text-decoration-none text-dark" href="./course/bcom.html">BCOM</a>
      </div>
      <div class="col-lg-6 col-mid-6 col-sm-6 col-6 p-2 text-center border">
        <a class="text-decoration-none text-dark" href="./course/mcom.html">MCOM</a>
      </div>
    </div>

    <div class="row bg-info">
      <div class="col-lg-6 col-mid-6 col-sm-6 col-6 p-2 text-center border">
        <a class="text-decoration-none text-dark" href="./course/bed.html">BED</a>
      </div>
      <div class="col-lg-6 col-mid-6 col-sm-6 col-6 p-2 text-center border">
        <a class="text-decoration-none text-dark" href="./course/med.html">MED</a>
      </div>
    </div>
</div>
</section>

<%- include("partials/footer.ejs") %>