<%- include("partials/header.ejs")  %>
<section class="container " ></section>

    <div class="head_Dib">
        <h1 class="h1">Dibrugarh University</h1>
    </div>
    
    <div class="container bg-info col-lg-4 col-mid-6 col-sm-6 col-9 border">
      
      <div class="row ">
        <div class="col-lg-6 col-mid-6 col-sm-6 col-6 text-center p-2 border">
          <a class="text-decoration-none text-dark " href="#">MCA 1st sem</a>
        </div>
        <div class="col-lg-6 col-mid-6 col-sm-6 col-6 text-center p-2 border">
          <a class="text-decoration-none text-dark"  href="#">MCA 2nd sem</a>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-6 col-mid-6 col-sm-6 col-6 text-center p-2 border">
          <a class="text-decoration-none text-dark" href="#">MCA 3rd sem</a>
        </div>
        <div class="col-lg-6 col-mid-6 col-sm-6 col-6 text-center p-2 border">
          <a class="text-decoration-none text-dark" href="#">MCA 4th sem</a>
        </div>
      </div>
  
      
    </div>

</section>
<%- include("partials/footer.ejs") %>